body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    direction: rtl;
    text-align: right;
}

.header-top {
    background-color: #003073;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.nav-bar {
    background-color: #0054a6; /* لون مختلف أو نفس اللون حسب تفضيلاتك */
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* ظل خفيف للشريط */
}

.logo img {
    max-width: 150px;
    transition: transform 0.3s ease-in-out;
}

.logo img:hover {
    transform: scale(1.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #FFD700;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #003073;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 15px;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05) rotate(1deg);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.card:hover img {
    transform: scale(1.1);
}

footer {
    background-color: #003073;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.social-media-buttons a, .direct-contact-links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #003073;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.social-media-buttons a:hover, .direct-contact-links a:hover {
    background-color: #0054a6;
    transform: scale(1.05);
}


/* إضافة التنسيق لشريط الروابط عند تحويله إلى ثابت */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* إضافة ظل للشريط الثابت */
}

.sticky + section {
    padding-top: 60px; /* تعديل لضمان عدم تداخل المحتوى مع الشريط الثابت */
}

/* تنسيق div التعويض */
#nav-placeholder {
    display: none; /* إخفاء بشكل افتراضي */
}

.sticky + #nav-placeholder {
    display: block;
    height: 60px; /* نفس ارتفاع شريط الأدوات */
}