body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    direction: rtl;
    text-align: right;
}

header {
    background-color: #003073;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.logo img {
    max-width: 150px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #003073;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    flex: 1 1 auto; /* Allow the cards to auto adjust based on content */
    box-sizing: border-box;
    padding: 15px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

footer {
    background-color: #003073;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.social-media-buttons a, .direct-contact-links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #003073;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.social-media-buttons a:hover, .direct-contact-links a:hover {
    background-color: #0054a6;
}
